body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
}


div{
    padding: 1rem;
    background: white;
    max-width:325px ;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

img{
    width: 100%;
    border-radius: 20px;
}

h1{
    font-weight: 700;
}

p{
    font-weight:400;
}